/* NAVIGATION MENU */
:root {
   --color-lighter: rgb(238, 125, 125); 
   --color-lightish: rgb(197, 79, 79);
   --color-lightdarker: rgb(134, 31, 31);
   --color-unsaturatedish: rgb(164, 117, 117);




}


nav {
   
    display: inline-block;
    height: 112px;
    line-height: 112px;
    background-color: var(--color-lightish);
}
ul.navlist li {
    height: 112px;
    list-style-type: none;
    display: inline-block;
}
ul.navlist {
    margin-top: 0px;
    margin-bottom: 0px;
}
a.navigation:link, a.navigation:visited {
    font-family:'Roboto', sans-serif;
    font-size: 1.2rem;
    color: var(--color-unsaturatedish);
    padding: 15px;
    text-transform: uppercase;
    text-decoration: none;
    height: 112px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    
}
a.navigation:hover, a.navigation:active {
    color: var(--color-lightdarker);
    background-color: var(--color-lighter);
}
