
<body>
    <header id="logoandnav">
      
       
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">The Blog</h1>
              <p class="lead">By developers, for developers.</p>
            </div>
          </div>

          {{#each posts as |post|}}

{{> post-info post }}
</div>

{{else}}
<h6 class="pb-4 has-text-centered is-italic">no posts are available</h6>
{{/each}}

</body>
</html>